section.products {
  padding: 5rem 0;
  background-image: url(../img/sec2/sec2_bg-text.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--bg);
}
section.products img {
  width: 100%;
}
section.products .row .left_content .text_content {
  display: grid;
  gap: 3rem;
  justify-items: start;
}
section.products .row .left_content h2 {
  font-size: 6rem;
  font-family: "Inter-Bold";
}
section.products .row .left_content p {
  color: var(--sec_text);
  font-size: 1.8rem;
}
section.products .row .left_content .text_content button {
  background-color: var(--main);
  background-image: url(../img/pattern.svg);
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  color: var(--main_text);
}
section.products .child img {
  width: 100%;
}
/* FOR RESPONSIVE  */
@media (max-width: 992px) {
  section.products .row .left_content .text_content {
    text-align: center;
  }
  section.products .row .left_content p {
    text-align: justify;
  }
  section.products .row .left_content button {
    margin: auto;
  }
  section.products {
    background-image: none;
  }
}
